
		.block1
		{
			background: bisque;
			width: 490px;
			height: 80px;
			position: absolute;
			top: 0px;
		}
		.block2
		{
			width: 99.2%;
			height: 270px;
			box-shadow: 0 0 0 2px limegreen;
			background-color: aqua;
			position: absolute;
		}
		.block3
		{
			background: darkgrey;
			width: 1420px;
			float: top;
			position: absolute;
			right: 0px;
			top: 0px;
		}
		.block4
		{
			background-color: green;
			width: 100%;
			height: 60px;
			position: fixed;
			bottom: 0px;
		}
		@media (max-width: 800px)
		{
			.block3
			{
				top: 60px;
				width: 100%;
			}
			.block2
			{
				top: 5px;
				width: 98%;
				height: 80%;
			}
			.block1
        	{
	        	background-color: none;
	        	height: 0;
	        	width: 100%;
    		}
			ul
			{
				padding-top: 5px;
				background-color: bisque;
			}
			li
			{
				display: inline;
			}
		}