.block1
		{
			background-color: aquamarine;
			width: 200px;
			height: 100px;
			position: fixed;
			left: 20px;
			top: 20px;
		}
		.block2
		{
			background-color: bisque;
			width: 100%;
			height: max-content;
			position: fixed;
			top: 140px;
			padding: 0px;
		}