section:first-child
		{
			width: 28.7%;
			font-size: 14px;
			margin-top: 20px;
			
		}
		section:second-child
		{
			background-color: blue;
		}
		.box
            {
                margin-left: auto;
                margin-right: auto;
            }
        aside
        {
        		margin-top: 30px;
        	    margin-left: auto;
                margin-right: auto;
                background-color: white;
             	box-shadow: 0 0 0 10px blue;
                width: 22%;
                padding: 45px;
                font-size: 14px;
        }