.block1
		{
			background: bisque;
			width: 25%;
			height: 80px;
			padding-top: 1px;
			padding-bottom: 5px;
			position: absolute;
			box-sizing: border-box;
		}
		.block2
		{
			background-color: aqua;
			width: 99%;
			height: 28.6%;
			position: absolute;
			 display: flex;
  			flex-direction: column;
			float: right;
			box-shadow: 0 0 0 2px limegreen;
		}
		.block3
		{
			width: 74.3%;
			background: darkgrey;
			float: left;
			position: absolute;
			left: 25.3%;
			top: 0px;
		}
		@media (max-width: 800px)
		{
			.block2
			{
				height: 115%;
			}
			.block1
			{
				width: 20%;
			}
			.block3
			{
				left: 0px;
				top: 80px;
			}
		}